.buscador {
  &--container {
    margin-bottom: 80px;
    position: relative;
  }

  &--filtro {
    left: 404px;
    position: relative;

    &-buscar {
      bottom: 42px;
      left: 106px;
      position: relative;
    }

    &-panel {
      margin-top: 35px;
    }

    &-combos {
      width: 230px !important;
    }
  }

  &--filtro:hover {
    text-decoration: none!important;
  }


  &--filtro-labels {
    position: absolute;
    top: 35px;
    left: 11px;
  }

  &--search-boton {
    left: 494px;
    position: absolute;
    top: 0px;
  }

  &--search-container {
    left: 0px;
    position: absolute;
    width: 707px;
  }

  &--selected-item {
    margin: 8px;
  }

  &--selected-item:hover
  {
    cursor: pointer;
  }

  &--input {
    width: 500px!important;
  }
}

.wishlist {

  &--boton {
    background-color: mediumpurple!important;
    color: white;
    font-size: 19px;
  }

  &--modal-rating {
    color: goldenrod;
    font-size: 23px;
    margin-left: 22px;
    margin-top: 33px;
    position: absolute;
  }
}