.buscador {
  &--filtro {
    bottom: 103px;
    display: initial;
    left: 695px;
    position: absolute;

    &-panel {
      margin-top: 16px;
    }

    &-combos {
      width: 250px !important;
    }
  }
  
  &--input {
    font-size: 20px!important;
    height: 50px!important;
    width: 500px!important;
  }
}