.comment-box {
  margin-top: 10px;
  margin-bottom: 200px;
  position: relative;

  &--input {

  }
}

.comment {
  background-color: #E1EAE7;
  color: #7D828A;
  margin-bottom: 12px;
  padding: 15px;
  position: relative;
  text-align: left;

  &--button{
    right: 10px;
    top: 6px;
    position: absolute;
  }

  &--fecha {
    bottom: 10px;
    font-size: 11px;
    position: absolute;
    right: 21px;
  }
}