.bar-item {
  color: #9d9d9d;
  display: inline-block;
  font-size: 14px;
  float: left;
  padding: 15px;
  text-underline: none;

  &:hover {
    color: #fff;
    text-decoration:none;
  }
}

.bodega-input-text {
  bottom: -30px;
  font-size: 10px;
  position: absolute;
  right: 254px;
}

.btn-agregar {
  color: #fff!important;
  background-color: mediumpurple!important;
  position: relative;
  margin-left: 10px;
  margin-bottom: 28px;
}

.btn-login {
  color: #fff!important;
  background-color: mediumpurple!important;
  float: right;
  width: 100px!important;
}

.btn-nuevo {
  color: #fff!important;
  background-color: mediumpurple!important;
  float: right;
  margin-top: 25px;
  width: 200px!important;
}

.busqueda-descripcion {
  display: inline-block;
  text-align: justify;
  width: 700px;
}

.busqueda-filtro {
  height: 170px;
  position: relative;
  text-align: left;}

.busqueda-nuevo-btn {
  position: absolute;
  top: 100px;
  right: 0px;
}

.busqueda-resultados {
  height: 130px;
}

.caption {
  color: darkmagenta;
  left: 5%;
  position: absolute;
  text-align: left;
  top: 200px;
}

.carousel-component {
  margin: 0 auto;
  margin-top: 50px;
  max-height:300px;
  overflow:hidden;
  position: absolute;
  width: 800px;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.form-input-separation {
  margin-bottom: 10px;
}

.header {
  text-align: left;
}

.header-title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: mediumpurple;
  padding-top: 10px;
}

.icon-nav {
  color: mediumpurple;
  font-size: 15px;
  padding-right: 10px;
}

.login-form {
  margin: 0 auto;
  text-align: left;
  width: 460px;
  position: absolute;
}

.login-link-registrarse {
  bottom: -58px;
  position: relative;
  left: 355px;
  text-underline: none;
}

.login-modal {
  margin: 0 auto;
  padding-top: 10%;
  width: 460px;
}

.navigation-title {
  &:hover {
    background-color: transparent;
    color: #fff;
    text-decoration:none;
  }

  color: #b600b6;
  float: left;
  font-size: 27px;
  height: 50px;
  line-height: 20px;
  padding: 15px 15px;
}

.nuevo-vino-form-container {
  padding: 40px;
  width: 100%;
}

.nuevo-vino-form {

  &--more-info {
    position: relative;
    margin: 0 auto;
    margin-top: 37px;
    padding: 40px;
    text-align: left;
    left: 122px;
    width: 535px;
  }

  &--graduacion {
    position: relative;
    left: 208px;
    width: 277px!important;
  }

  &--main-info {
    position: relative;
    margin: 0 auto;
    width: 700px;

    &-name {
      text-align: end;
      width: 430px;
    }

    &-visor {
      border-width: 1px;
      border-color: #9d9d9d;
      border-style: solid;
      border-radius: 15px;
      min-height: 335px;
      position: absolute;
      right: 0px;
      top: 26px;
      width: 235px;

      &-drop {
        border-color: #9d9d9d;
        border-radius: 20px;
        border-style: dashed;
        border-width: 2px;
        height: 200px;
        margin: 17px;
        padding: 30px;
        position: relative;
        text-align: end;
        width: 200px;
      }

      &-img {
        border: solid 1px;
        border-radius: 5px;
        height: 60px;
        margin-bottom: 6px;
        margin-left: 13px;
        width: 60px;
      }
    }
  }
}

.registro-form {
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  width: 460px;

  .password-field {
    width: 220px;
    height: 34px;
    border-radius: 5px;
    border: 2px;
    padding: 20px 0 20px 0;
  }

  .ciudad-field {
    padding-top: 15px;
  }
}

.search-input {
  font-size: 20px!important;
  height: 50px!important;
}

.section-container {
  color: #787679;
  padding: 0px 160px;
  text-align: center;
}

.vino-list-item {
  background-color: whitesmoke;
  display: inline-block;
  height: 438px;
  margin: 12px;
  margin-top: 40px;
  padding: 38px;
  text-align: left;
  position: relative;
  vertical-align: bottom;
  width: 250px;

  &--button {
    bottom: 17px;
    position: absolute;
    right: 33px;

    &-style {
      color: #fff!important;
      background-color: black!important;
    }
  }

  &--name {
    color: mediumpurple;
    display: block;
    font: bold 16px Arial;
    position: relative;
    height: 55px;
  }

  &--grapes {
    position: relative;
  }

  &--description {
    font: 12px Arial;
    position: absolute;
    top: 123px;
    width: 173px;
  }

  &--location {
    font: 12px Arial;
    position: absolute;
    bottom: 130px;
    text-align: center;
    width: 171px;

    &-country {
      color: mediumpurple;
      font: bold 12px Arial;
    }
  }

  &--year {
    bottom: 111px;
    display: block;
    position: absolute;
    text-align: center;
    width: 174px;

    &-text {
      font: 12px Arial;
      display: block;
    }
  }
}


