body {
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navigation-title {
  &:hover {
    color: #fff;
    background-color: transparent;
    text-decoration:none;
  }

  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 20px;
  color: mediumpurple;
}

.caption {
  text-align: left;
  color: darkmagenta;
  position: absolute;
  top: 200px;
  left: 5%;
}

.carousel-component {
  position: absolute;
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
  max-height:300px;
  overflow:hidden;

}

.page-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
